/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  text-align: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#profile_pic img {
  display: block !important;
  float: left !important;
  margin-left: 20px;
  height: 430px;
}

#profile_pic {
  position: absolute;
  float: left;
  clear: left;
  top: 150px;
}

.aboutme {
  padding-left: 500px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.aboutme p {
  color: #fff;
  font-family: FreeMono, monospace;
  font-weight: bold;
  font-size: 1.3em;
  text-align: justify;
}

.scrolldown {
  position: absolute;
  bottom: -50px;
  left: 60%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate
{
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

#projects {
  position: absolute;
  top: 45em;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 170px;
}

.project_items {
  width: 30em;
  height: 500px;
  padding-bottom: 10px;
  margin: auto;
}

.contactme {
  position: absolute;
  top: 115em;
  width: 100%;
  height: 7%;
}

.dash{
  border: 0 none;
  border-top: 2px dashed #fff;
  background: none;
  height:0;
}

a span {
  padding-left: 18px;
  padding-bottom: 10px;
  margin: auto;
  color: white;
}

#linkedin:hover {
  color: #26546B;
}

#facebook:hover {
  color: #4392BA;
}

#github:hover {
  color: #4a9b7e;
}

#resume:hover {
  color: #C92649;
}
